@model TrouveUnBand.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Page d'accueil";
}
<div class="home-container">
    <div id="home-jumbotron" class="jumbotron">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img id="homeImage" src="" alt="" />
                    <div class="carousel-caption">
                        <h1 class="col-md-12">
                            À la recherche d'un band?
                        </h1>
                        <h3>
                            Recherchez un band, un musicien ou un événement.
                        </h3>
                        <h3>
                            Créez vos propres événements et annonces.
                        </h3>
                        <h3>
                            Faites la promotion de votre band, votre événement ou votre bar.
                        </h3>
                        <h3>
                            Tout ça GRATUITEMENT!
                        </h3>
                        <p>@Html.ActionLink("Inscrivez-vous", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg col-md-6 col-md-offset-3" })</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-content-container">
        <div class="home-section col-md-12">
            <div class="container">
                <div class="home-section-header col-md-12">
                    <h1>
                        Derniers Musiciens Inscrits
                    </h1>
                </div>
                <div class="home-section-content">
                    @foreach (var item in Model.UserList)
                    {
                        <div class="home-thumbnail img-container-banner col-md-3"
                             onclick="location.href='@Url.Action("ViewProfile", "Base", new {type = "MUSICIEN", Id = item.User_ID })'">
                            <div class="img-container-banner">
                                <img src="@item.Photo" alt="" />
                                <p class="banner">
                                    Nouveau!
                                </p>
                            </div>
                            <div class="home-thumbnail-middle">
                                <p>
                                    <strong>@item.Name</strong>
                                </p>
                                <p>@item.Location</p>
                            </div>
                        </div>
                    }
                </div>
                <a class="col-md-4 col-md-offset-4 btn btn-default"
                   href='@Url.Action("Index", "Search")'>
                    Voir plus de musiciens
                </a>
            </div>
        </div>
        <div class="home-section-invert home-band-section col-md-12">
            <div class="container">
                <div class="home-section-header col-md-12">
                    <h1>
                        Derniers Groups Inscrits
                    </h1>
                </div>
                <div class="home-section-content">
                    @foreach (var item in Model.BandList)
                    {
                        <div class="home-thumbnail-invert col-md-3"
                             onclick="location.href='@Url.Action("ViewProfile", "Base", new {type = "BAND", Id = item.Band_ID })'">
                            <img src="/Photos/_StockPhotos/_stock_band.jpg" alt="" />
                            <div class="home-thumbnail-middle">
                                <p>
                                    <strong>@item.Name</strong>
                                </p>
                                <p>@item.Location</p>
                            </div>
                        </div>
                    }
                </div>
                <a class="col-md-4 col-md-offset-4 btn btn-default"
                   href='@Url.Action("Index", "Search")'>
                    Voir plus de bands
                </a>
            </div>
        </div>
        <div class="home-section col-md-12">
            <div class="container">
                <div class="home-section-header col-md-6 col-md-offset-3">
                    <h1 class="">
                        Prochains Événements
                    </h1>
                    <h4>
                        Pour ne rien rater
                    </h4>
                </div>
                <div class="home-section-content">
                    @foreach (var item in Model.EventList)
                    {
                        <div class="home-panel event-panel col-md-12"
                             onclick="location.href='@Url.Action("ViewProfile", "Base", new {type = "EVENT", Id = item.Event_ID })'">
                            <img src="@item.Photo" alt="Image" class="col-md-3">
                            <div class="event-panel-date col-md-2">
                                <h3 class="col-md-3">@item.DayOfTheWeek</h3>
                                <h1 class="col-md-12">@item.DayAndMonth</h1>
                            </div>
                            <div class="event-panel-info col-md-5">
                                <span class="col-md-12">@item.Location</span>
                                <h2 class="col-md-12">@item.Name</h2>
                            </div>
                            <div class="event-panel-info col-md-2">
                                <ul>
                                    @foreach (var banditem in item.Bands)
                                    {
                                        <li>
                                            <span class="col-md-12">@banditem.Name</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <a class="col-md-4 col-md-offset-4 btn btn-default"
                   href='@Url.Action("Index", "Event")'>
                    Voir plus d'événements
                </a>
            </div>
        </div>
        <div class="home-section-invert col-md-12">
            <div class="container">
                <div class="home-section-header col-md-6 col-md-offset-3">
                    <h1>
                        Dernières Annonces
                    </h1>
                    <h4>
                        Ne manquez pas votre chance
                    </h4>
                </div>
                <div class="home-section-content">
                    @foreach (var item in Model.AdvertList)
                    {
                        <div class="event-panel home-panel-invert col-md-12"
                             onclick="location.href='@Url.Action("ViewProfile", "Base", new {type = "ADVERT", Id = item.Advert_ID })'">
                            <img src="@item.Photo" alt="Image" class="col-md-3">
                            <div class="event-panel-date col-md-2">
                                <h3 class="col-md-3">
                                    Expiration/
                                </h3>
                                <h1 class="col-md-12">@item.ExpirationDate</h1>
                            </div>
                            <div class="event-panel-info col-md-5">
                                <span class="col-md-12">@item.Location</span>
                                <h2 class="col-md-12">@item.Name</h2>
                                <span class="col-md-12">@item.Status</span>
                            </div>
                            <div class="event-panel-button">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                </div>
                <a class="col-md-4 col-md-offset-4 btn btn-default"
                   href='@Url.Action("Index", "Advert")'>
                    Voir plus d'annonces
                </a>
            </div>
        </div>
    </div>
</div>
