@{
    ViewBag.Title = "Page d'accueil";
}


<div id="NewsfeedUser" class="row">
@foreach (var item in (List<TrouveUnBand.ViewModels.ResultViewModels>)ViewData["NewsfeedUser"])
{  
    <div class="col-sm-6 col-md-1 container-fluid NewsfeedItems">
        <div class="thumbnail card btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName) ">
            @if (item.Photo == null)
            {
                <img src="http://placehold.it/100x100" alt="Image">
            }
            else
            {
                var photo = "data:image/jpeg;base64," + Convert.ToBase64String(item.Photo);
                <img src="@photo" width="100" height="100" class="photo" alt="Image">
            }
        </div>
<<<<<<< HEAD
        @Html.DisplayFor(modelItem => item.Name)
=======
>>>>>>> origin/TB_29_Media_Sociaux
    </div>
}
</div>

<div id="NewsfeedBand" class="row">
@foreach (var item in (List<TrouveUnBand.ViewModels.ResultViewModels>)ViewData["NewsfeedBand"])
{
    <div class="col-md-3 NewsfeedItems thumbnail">
        <img src="http://placehold.it/200x200">
        <div class="caption container-fluid">
            <div class="row">
            @Html.Label("Nom")
            @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="row">
            @Html.Label("Location")
            @Html.DisplayFor(modelItem => item.Location)
            </div>
            <div class="row">
            @Html.Label("Description")
            @Html.DisplayFor(modelItem => item.Description)
            </div>
<<<<<<< HEAD
            <div class="row">
            @Html.ActionLink("Details", "Details", new { id = item })
            </div>
            <a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a>
=======
            @Html.ActionLink("Afficher", "ViewProfile", "Search", new { type = "BAND", Id = item.BandId }, new { @class = "btn btn-primary", @role = "button" })
>>>>>>> origin/TB_29_Media_Sociaux
        </div>
     </div>      
}
</div>

<div id="NewsfeedEvent" class="row">
@foreach (var item in (List<TrouveUnBand.ViewModels.ResultViewModels>)ViewData["NewsfeedEvent"])
{
    <div class="col-md-4 thumbnail">
        <div class="thumbnail card">
            @if (item.Photo == null)
            {
                <img src="http://placehold.it/250x172" alt="Image">
            }
            else
            {
                var photo = "data:image/jpeg;base64," + Convert.ToBase64String(item.Photo);
                <img src="@photo" width="250" height="172" class="photo" alt="Image">
            }
        </div>
        <div class="caption container-fluid">
                    <div class="row">
                    @Html.Label("Nom")
                    @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="row">
                    @Html.Label("Location")
                    @Html.DisplayFor(modelItem => item.Location)
                    </div>
                    <div class="row">
                    @Html.Label("Genre")
                    <span>@item.Genres</span>
                    </div>
<<<<<<< HEAD
                    <div class="row">
                    @Html.ActionLink("Details", "Details", new { id = item})
=======
                    @Html.ActionLink("Afficher", "ViewProfile", "Search", new { type = "EVENT", Id = item.EventId }, new { @class = "btn btn-primary", @role = "button" })
>>>>>>> origin/TB_29_Media_Sociaux
                    </div>
    </div>
}
</div>

<div id="NewsfeedAdvert" class="row">
@foreach (var item in (List<TrouveUnBand.ViewModels.ResultViewModels>)ViewData["NewsfeedAdvert"])
{
    <div class="col-md-4 thumbnail">
        <div class="thumbnail card">
            @if (item.Photo == null)
            {
                <img src="http://placehold.it/250x172" alt="Image">
            }
            else
            {
                var photo = "data:image/jpeg;base64," + Convert.ToBase64String(item.Photo);
                <img src="@photo" width="250" height="172" class="photo" alt="Image">
            }
        </div>
        <div class="caption container-fluid">
            <div class="row">
                @Html.Label("Type")
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="row">
<<<<<<< HEAD
            @Html.Label("Genre")
            @Html.DisplayFor(modelItem => item.Genres)
=======
                @Html.Label("Genre")
                @Html.DisplayFor(modelItem => item.Genre.Name)
>>>>>>> origin/TB_29_Media_Sociaux
            </div>
            <div class="row">
                @Html.Label("Description")
                @Html.DisplayFor(modelItem => item.Description)
            </div>
<<<<<<< HEAD
            <div class="row">
            @Html.ActionLink("Details", "Details", new { id = item })
=======
            <div>
                @Html.ActionLink("Afficher", "ViewProfile", "Search", new { type = "ADVERT", Id = item.AdvertId }, new { @class = "btn btn-primary", @role = "button" })
>>>>>>> origin/TB_29_Media_Sociaux
            </div>
        </div>
    </div>
}
</div>
