@model TrouveUnBand.Models.Event

@{
    ViewBag.Title = "Delete";
}

@if (Model.User.Nickname != User.Identity.Name)
{
         <h3>Veuillez vous identifiez</h3>       
}
else
{
    <div  id="CreateEventForm">
        <div class="container">
            <div class="row form-group col-md-8 col-md-push-2">
                <div class="col-md-12">
                    <h3>Voulez vous vraiment annuler l'événement suivant?</h3>
                    <hr class="colorgraph"/>
                </div>
                <div class="modal-body col-md-8">
                    <img src="@Model.Photo" width="400" class="photo" alt="Image">
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Nom de l'événement")
                        <p>@Model.Name</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Emplacement de l'événement")
                    <p>@Model.Location</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Adresse de l'emplacement")
                    <p>@Model.Address</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Ville de l'emplacement")
                    <p>@Model.City</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Date de l'événement")
                    <p>@Model.EventDate</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Audience maximale")
                    <p>@Model.MaxAudience</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Salaire pour l'événement ($)")
                    <p>@Model.Salary</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Genre de l'événement")
                    <p>@Model.Genres.FirstOrDefault().Name</p>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Dimension de la scène (mètres carrés)")
                    <p>@Model.StageSize</p>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <hr class="colorgraph"/>
                    </div>

                    <div class="col-md-6">
                        @Html.ActionLink("Retour", "Index", new { controller = "Event" }, new { @class = "btn btn-default col-md-12" })
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm()) {
                            <input type="submit" value="Annuler l'événement" class="btn btn-danger col-md-12" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
