@model TrouveUnBand.Models.Event

@{
    ViewBag.Title = "Modifier un événement";
}
@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { @role = "form", enctype = "multipart/form-data" }))
{
    if (Model.User.Nickname == User.Identity.Name)
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Event_ID)
        @Html.Hidden("Creator", Model.User.User_ID)

        <div  id="CreateEventForm" class="top-80">
                    <div class="container">
                        <div class="col-md-8 col-md-push-2">
                            <div class="col-md-12">
                                <h3>Modifier un événement</h3>
                                <hr class="colorgraph" id="eventline">
                            </div>
                            
                            <div class="modal-body col-md-12">
                            @if (Model.Photo == null)
                            {
                                <img src="http://placehold.it/400x250" alt="Image">
                            }
                            else
                            {
                                var photo = "data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo);
                                <img src="@photo" width="400" class="photo" alt="Image">
                            }
                            </div>
                            <div class="form-group col-md-12">
                                @Html.Label("Photo de l'événement")
                                <input class="btn" type="file" name="FileUpload" value="Choisir Fichier" />
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Nom de l'événement")
                                @Html.TextBoxFor(model => model.Name, 
                                    new { @class = "form-control", @placeholder = "Nom de l'événement" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Emplacement de l'événement")
                                @Html.TextBoxFor(model => model.Location, 
                                    new { @class = "form-control", @placeholder = "Emplacement de l'événement" })
                                @Html.ValidationMessageFor(model => model.Location)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Adresse de l'emplacement")
                                @Html.TextBoxFor(model => model.Address, 
                                    new { @class = "form-control", @placeholder = "Adresse de l'emplacement" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Ville de l'emplacement")
                                @Html.TextBoxFor(model => model.City, 
                                    new { @class = "form-control", @placeholder = "Ville de l'emplacement" })
                                @Html.ValidationMessageFor(model => model.City)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Date de l'événement")
                                @Html.TextBoxFor(model => model.EventDate, 
                                    new { @class = "form-control", @placeholder = "Date de l'événement", @id = "datepicker" })
                                @Html.ValidationMessageFor(model => model.EventDate)
                            </div>
                            
                            <div class="form-group col-md-6">
                                @Html.Label("Description")
                                @Html.TextBoxFor(model => model.Description, 
                                    new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Audience maximale")
                                @Html.TextBoxFor(model => model.MaxAudience, 
                                    new { @class = "form-control", @placeholder = "Audience maximale" })
                                @Html.ValidationMessageFor(model => model.MaxAudience)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Salaire pour l'événement ($)")
                                @Html.TextBoxFor(model => model.Salary, 
                                    new { @class = "form-control", @placeholder = "Salaire pour l'événement" })
                                @Html.ValidationMessageFor(model => model.Salary)
                            </div>

                            <div class="form-group col-md-6">
                                @Html.Label("Genre de l'événement")
                                @Html.DropDownList("EventGenreDB", 
                                    new SelectList(ViewBag.GenreListDB, "Name", "Name", Model.Genres.FirstOrDefault().Name), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Genres)
                            </div>
                
                            <div class="form-group col-md-6">
                                @Html.Label("Dimension de la scène (mètres carrés)")
                                @Html.TextBoxFor(model => model.StageSize, 
                                    new { @class = "form-control", @placeholder = "Dimension de la scène (mètres carrés)" })
                                @Html.ValidationMessageFor(model => model.StageSize)
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <hr class="colorgraph"/>
                                </div>

                                <div class="col-md-6">
                                    @Html.ActionLink("Retour", "Index", new { controller = "Event" }, 
                                        new { @class = "btn btn-default col-md-12" })
                                </div>

                                <div class="col-md-6">
                                    <input type="submit" value="Enregistrer les Modifications" class="btn btn-primary col-md-12" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    }
    else
    {
        <h3>Veuillez vous identifier svp</h3>
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
