@model TrouveUnBand.Models.Event
@{
    ViewBag.Title = "Profil de l'événement";
}
<div class="row">
    <div class="col-md-3 profile-section profile-quickinfo-tab">
        <div class="profile-header profile-header-sidebar">
            <strong>@Model.Name</strong>
        </div>
        <div class="profile-content">
            <a href="#" data-toggle="modal" data-target="#PicModal">
                <img id="profile-main-pic" alt="" src="@Model.Photo" class="photo" />
            </a>
            <div class="profile-user-quickinfo">
                <ul class="list-unstyled">
                    <li>@Model.Name</li>
                    <li>@Model.Location</li>
                    <li>Événement</li>
                    <li>Styles</li>
                    <li>@Model.EventDate</li>
                    <li>Info pertinante</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="profile-main-tab" class="col-md-7">
        <div class="profile-main-content col-md-12">
            <div id="information" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-info-sign"></span><strong>Informations</strong> <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right">
                    </i>
                </div>
                <div class="profile-tab-content">
                    <span>jksghfukdfghfdjkfgjdsdfjhsdgfsdfgsdnmhgfjhsgfsdjgfsdjgfsdjh</span>
                </div>
            </div>
            <div id="listen" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-headphones"></span><strong>Écouter</strong> <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right">
                    </i>
                </div>
                <div class="profile-tab-content">
                </div>
            </div>
            <div id="photo" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-picture"></span><strong>Photo</strong> <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right">
                    </i>
                </div>
                <div class="profile-tab-content">
                    @Html.Partial("../Photo/_PhotoAlbum", Model.Photo)
                </div>
            </div>
            <div id="seeking" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-eye-open"></span><strong>Recherche</strong> <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right">
                    </i>
                </div>
                <div class="profile-tab-content">
                </div>
            </div>
            <div id="localisation" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-envelope"></span><strong>Localisation</strong> <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right">
                    </i>
                </div>
                <div class="profile-tab-content">
                    <center>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-menu" class="col-md-2 profile-section">
        <div class="">
            <div class="profile-header profile-header-menu">
                <strong>Menu</strong>
            </div>
            <div class="profile-content">
                <ul class="list-unstyled">
                    <li data-scroll-spy="information" class="active">
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign">
                            </span><span>Informations</span>
                        </a>
                    </li>
                    <li data-scroll-spy="listen">
                        <a href="#">
                            <span class="glyphicon glyphicon-headphones">
                            </span><span>Écouter</span>
                        </a>
                    </li>
                    <li data-scroll-spy="seeking">
                        <a href="#">
                            <span class="glyphicon glyphicon-eye-open">
                            </span><span>Recherche</span>
                        </a>
                    </li>
                    <li data-scroll-spy="photo">
                        <a href="#">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span>Photo</span>
                        </a>
                    </li>
                    <li data-scroll-spy="localisation">
                        <a href="#">
                            <span class="glyphicon glyphicon-envelope">
                            </span><span>Localisation</span>
                        </a>
                    </li>
                </ul>
                <hr />
                <div class="profile-footer-menu">
                    <span>FB/Twitter/G+</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PicModal" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
     aria-hidden="true">
    @Html.Partial("../Photo/ViewPictureDialog")
</div>
<div class="hidden">
    @Html.Partial("../SocialMedia/_Metadata-Event")
</div>
