@model TrouveUnBand.Models.Event
@{
    ViewBag.Title = "EventProfile";
}

<div class="profile-container">
    <div class="jumbotron col-md-12">
        <div class="thumbnail card col-md-3">
            <a href="#" data-toggle="modal" data-target="#PicModal">
                @{
                    if(Model.Photo != null)
                    {
                        var photo = "data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo);
                        <img id="ProfilePic" alt="" src="@photo" width="250" class="photo" />
                    }
                    else
                    {
                        <img id="ProfilePic" alt="" src="http://placehold.it/250x172" alt="Image">
                    }   
                }
            </a>
        </div>
        <div class="col-md-9 profile-header-info">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-primary pull-right label-profile-type">Événement</span>
                    <h1>@Model.Name</h1>
                </li>
                <li>
                    <span class="glyphicon glyphicon-map-marker"></span><span>@Model.Location, @Model.City</span>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <span>
                        @{var i = 0;
                          var TextPopOver = "";
                          foreach (var band in Model.Bands)
                          {
                              TextPopOver += Html.DisplayName(band.Name) + "<br/>";
                              if (i < 4)
                              {
                                    @Html.DisplayName(band.Name + ", ");
                                    i++;
                              }
                              if (i == 4)
                              {
                                    @Html.DisplayName(band.Name + "");
                                    i++;
                              }
                          }  
                        }  
                        <a href="#" tabindex="0" role="button"
                            data-toggle="popover" data-html="true" title="Groupe(s) de l'événement" data-content="@TextPopOver">
                                <span class="label label-default">...</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-music"></span>
                    <span>
                        @{i = 0;
                          TextPopOver = "";
                          foreach (var genre in Model.Genres)
                          {
                              TextPopOver += Html.DisplayName(genre.Name) + "<br/>";
                              if (i < 4)
                              {
                                    @Html.DisplayName(genre.Name + ", ");
                                    i++;
                              }
                              if (i == 4)
                              {
                                    @Html.DisplayName(genre.Name + "");
                                    i++;
                              }
                          }  
                        }  
                        <a href="#" tabindex="0" role="button"
                            data-toggle="popover" data-html="true" title="Genres de l'événement" data-content="@TextPopOver">
                                <span class="label label-default">...</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-user"></span><span>@Model.User.Nickname</span>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Billet disponible</span>
                    </div>
                </li>
                <li>
                    <div class="pull-right">
                        @Html.Partial("../SocialMedia/_ShareButtons")
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-info-container col-md-12">
        <div class="profile-tab-menu col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-play col-md-12"></span>
                    <span>Media (Soundcloud/Youtube)</span>
                </a>

                <a href="#" class="list-group-item text-center active">
                    <span class="glyphicon glyphicon-user col-md-12"></span>
                    <span>Description</span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class=" glyphicon glyphicon-eye-open col-md-12"></span>
                    <span>Billeterie</span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-picture col-md-12"></span>
                    <span>Photos</span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-comment col-md-12"></span>
                    <span>Commentaires</span>
                </a>
            </div>
        </div>
        <!--Media-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-play" style="font-size: 12em; color: #000000"></h1>
                <h2 style="margin-top: 0; color: #000000">
                    Bientôt
                </h2>
                <h3 style="margin-top: 0; color: #000000">
                    Disponible
                </h3>
            </center>
        </div>
        <!--Media end-->
        <!--Description-->
        <div class="profile-tab-content col-md-9 active">
            
        </div>
        <!--Desccription end-->
        <!--Seeking-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-eye-open" style="font-size: 12em; color: #000000"></h1>
                <h2 style="margin-top: 0; color: #000000">
                    Bientôt
                </h2>
                <h3 style="margin-top: 0; color: #000000">
                    Disponible
                </h3>
            </center>
        </div>
        <!--Seeking end-->
        <!--Pictures-->
        <div class="profile-tab-content col-md-9 pictures-tab">
            
        </div>
        <!--Pictures end-->
        <!--Comment-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-comment" style="font-size: 12em; color: #000000"></h1>
                <h2 style="margin-top: 0; color: #000000">
                    Bientôt
                </h2>
                <h3 style="margin-top: 0; color: #000000">
                    Disponible
                </h3>
            </center>
        </div>
        <!--Comment end-->
    </div>
</div>

<div class="modal fade" id="PicModal" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
     aria-hidden="true">
    @Html.Partial("../Photo/ViewPictureDialog")
</div>

<div visibility="hidden">
    @Html.Partial("../SocialMedia/_Metadata-Event")
</div>
