@model IEnumerable<TrouveUnBand.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Évènements</h2>

<p>
    @Html.ActionLink("Créer un évènement", "Create", new { controller = "Event" }, new { @class="btn btn-primary" })
</p>
<div class="row">
@foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="thumbnail card">
                <img src="http://placehold.it/250x172" alt="Image">
                <div class="caption">
                    <h3>@Html.DisplayName(item.EventName)</h3>
                    <p>@Html.DisplayName(item.EventLocation)</p>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        @Html.DisplayName(item.EventCity)
                    </p>
                    <b>@Html.DisplayName(item.EventGender)</b>
                    <p>
                        @Html.ActionLink("Détails", "Details", new { id = item.EventId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Modifier", "Edit", new { id = item.EventId }, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>