@model TrouveUnBand.Models.Advert

@{
    ViewBag.Title = "Création d'annonces";
}

@if (User.Identity.Name == "")
{
    <h3>Veuillez vous identifier svp</h3>
}
else
{
    using (Html.BeginForm("Create", "Advert", FormMethod.Post, new { @role = "form", @class = "top-80", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div  id="CreateEventForm">
            <div class="container">
                <div class="row form-group col-md-8 col-md-push-1">
                    <div class="col-md-12">
                        <h3>Créer une annonce</h3>
                        <hr class="colorgraph">
                    </div>
                    <div class="form-group col-md-12">
                        @Html.Hidden("CreatorName", User.Identity.Name)
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Type,
                                new { @class = "form-control", @placeholder = "Nom de l'annonce" })
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Location,
                                new { @class = "form-control", @placeholder = "Emplacement" })
                            @Html.ValidationMessageFor(model => model.Location)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.DropDownList("GenreAdvertDB", (IEnumerable<SelectListItem>)ViewBag.GenresAdvert, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GenresAdvert)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Status,
                                new { @class = "form-control", @placeholder = "Statut" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>

                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.ExpirationDate,
                                new { @class = "form-control", @placeholder = "Date d'expiration de l'annonce", @id = "datepickernotime2", @type = "date" })
                            @Html.ValidationMessageFor(model => model.ExpirationDate)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.TextAreaFor(model => model.Description,
                                new { @class = "form-control", @placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Photo de l'annonce")
                            <input class="btn" type="file" name="FileUpload" value="Choisir Fichier" />
                        </div>
                        <div class="col-md-12">
                            <hr class="colorgraph"/>
                        </div>
                        <div class="col-md-6">
                             @Html.ActionLink("Retour", "Index", new { controller = "Advert" }, 
                                new { @class = "btn btn-default col-md-12" })
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Créer l'annonce" class="btn btn-primary col-md-12" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
