@model TrouveUnBand.Models.Advert

@{
    ViewBag.Title = "Delete";
}

@if (User.Identity.Name != Model.User.Nickname)
{
    <h3>Veuillez vous identifier svp</h3>
}
else
{
    <div class="top-80">
        <h3>Voulez-vous vraiment supprimer cette annonce?</h3>

        <fieldset>
            <div class="col-md-12">
                <hr class="colorgraph">
            </div>
            <div class="col-md-12">
                <div class="col-md-4 form-group">
                    <img src="@Model.Photo" width="230" height="172" class="photo" alt="Image">
                </div>
                <div class="col-md-8 col-md-pull-1" id="AdvertDesc">
                    <div class="col-md-12 form-group">
                        <h3>@Html.DisplayName(Model.Type)</h3>
                    </div>
                    <div class="col-md-4 form-group">
                        <span class="glyphicon glyphicon-calendar"></span> @Html.DisplayName(Model.CreationDate.ToString("dd MMMM yyyy"))
                    </div>
                    <div class="col-md-4 form-group">
                        <span class="glyphicon glyphicon-music"></span> @Html.DisplayName(Model.Genres.FirstOrDefault().Name)
                    </div>
                    <div class="col-md-4 form-group col-md-pull-1">
                        <span class="glyphicon glyphicon-map-marker"></span>@Html.DisplayName(Model.Location)
                    </div>
                    <div class="col-md-12 form-group">
                        <hr class="colorgraph" />
                        @Html.TextArea("DescriptionArea", Model.Description, new { @class = "form-control", @readonly = "readonly", @rows = "6" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="colorgraph">
                @using (Html.BeginForm())
                {
                    <p>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                @Html.ActionLink("Retour", "Index", new { controller = "Advert" }, new { @Class = "btn btn-default col-md-12" })
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Supprimer l'Annonce" class="btn btn-danger col-md-12" />

                            </div>
                        </div>
                    </p>
                }
            </div>
        </fieldset>
    </div>
}
