@model TrouveUnBand.Models.Advert

@{
    ViewBag.Title = "Edit";
}

@if (User.Identity.Name == "")
{
    <h3>Veuillez vous identifier svp</h3>
}
else
{
    using (Html.BeginForm("Edit", "Advert", FormMethod.Post, new { @role = "form", @class = "top-80", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div  id="CreateEventForm">
            <div class="container">
                <div class="row form-group col-md-12">
                    <div class="col-md-12">
                        <h3>Créer une annonce</h3>
                        <hr class="colorgraph">
                    </div>
                    @Html.HiddenFor(model => model.AdvertId,
                                new { @class = "form-control", @placeholder = "AdvertId" })
                            @Html.ValidationMessageFor(model => model.Type)
                    <div class="form-group col-md-12">

                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Type,
                                new { @class = "form-control", @placeholder = "Type d'Annonce" })
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-control">
                                @Html.DropDownList("Creator", "Utilisateur")
                                @Html.ValidationMessageFor(model => model.Creator)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-control">
                                @Html.DropDownList("GenresAdvert", "Genre")
                            </div>
                            @Html.ValidationMessageFor(model => model.GenresAdvert)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Description,
                                new { @class = "form-control", @placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.Status,
                                new { @class = "form-control", @placeholder = "Statut" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.CreationDate,
                                new { @class = "form-control", @placeholder = "Date" })
                            @Html.ValidationMessageFor(model => model.CreationDate)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(model => model.ExpirationDate,
                                new { @class = "form-control", @placeholder = "Date d'expiration de l'annonce" })
                            @Html.ValidationMessageFor(model => model.ExpirationDate)
                        </div>

                        <div class="col-md-12">
                            <hr class="colorgraph"/>
                        </div>
                        <div class="col-md-6">
                             @Html.ActionLink("Retour", "Index", new { controller = "Advert" }, 
                                new { @class = "btn btn-default col-md-12" })
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Créer l'annonce" class="btn btn-primary col-md-12" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
