@model TrouveUnBand.Models.Advert

@{
    ViewBag.Title = "Edit";
}

@if (User.Identity.Name != Model.User.Nickname)
{
    <h3>Veuillez vous identifier svp</h3>
}
else
{

    <div id="CreateEventForm">
        <div class="container">
            <div class="row form-group col-md-8 col-md-push-1">
                <div class="col-md-12">
                    <h3>Modifier une annonce</h3>
                    <hr class="colorgraph">
                </div>
                <div class="form-group col-md-12">

                    @using (Html.BeginForm("CropImageDialog", "Advert", FormMethod.Post, new { @role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body col-md-12">
                            <img src="@Model.Photo" width="400" class="photo" alt="Image">
                        </div>
                        <div class="form-group col-md-12">
                            <h4 class="col-md-12">Photo de l'annonce (facultatif)</h4>

                            <div class="form-group file-uploader col-md-12">
                                <div class="btn btn-default photo-upload-browser col-md-6">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-upload-input-title">Choisir une photo dans vos dossiers</span>
                                    <input id="ImageUploader" type="file" accept="image/*" name="photo-upload-browser" />
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="CropperDialog">
                            @Html.Partial("../Photo/ImageCropperDialog", Model.PhotoCrop)
                            @Html.HiddenFor(model => model.PhotoCrop.PicX, new { id = "X" })
                            @Html.HiddenFor(model => model.PhotoCrop.PicY, new { id = "Y" })
                            @Html.HiddenFor(model => model.PhotoCrop.PicWidth, new { id = "Width" })
                            @Html.HiddenFor(model => model.PhotoCrop.PicHeight, new { id = "Height" })
                            @Html.HiddenFor(model => model.Advert_ID, new { @Model.Advert_ID })
                        </div>
                    }
                    @using (Html.BeginForm("Edit", "Advert", FormMethod.Post, new { @role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Advert_ID, new { Model.Advert_ID })
                        @Html.HiddenFor(model => model.Creator_ID, new { Model.Creator_ID })

                        <h4 class="col-md-12">Informations de l'annonce</h4>
                        <div class="form-group col-md-12">
                            @Html.Label("Nom de l'annonce")
                            @Html.TextBoxFor(model => model.Name,
                                new { @class = "form-control", @placeholder = "Type d'Annonce" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Emplacement")
                            @Html.TextBoxFor(model => model.Location,
                                new { @class = "form-control", @placeholder = "Emplacement" })
                            @Html.ValidationMessageFor(model => model.Location)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Status")
                            <div class="btn-group bootstrap-select form-control selectpicker-over">
                                <button title="Status" data-id="Gender" type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                    <span class="filter-option pull-left">@Model.Status</span>&nbsp;<span class="caret"></span>
                                </button>
                            </div>
                            @Html.DropDownListFor(model => model.Status, new SelectList(
                                          new List<Object>{
                                               new { value = "En cours" , text = "En cours" },
                                               new { value = "En attente" , text = "En attente"  }
                                            },
                                            "value", "text", Model.Status),
                                            new { @class = "form-control selectpicker hidden" })
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Genres musicaux de l'annonce")
                            <div class="btn-group bootstrap-select form-control selectpicker-over">
                                <button title="Sexe" data-id="Gender" type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown">
                                    <span class="filter-option pull-left">Genres musicaux de l'annonce</span>&nbsp;<span class="caret"></span>
                                </button>
                            </div>
                            <select name="GenreAdvertDB" class="selectpicker hidden" title="Genres musicaux de l'annonce"
                                    data-width="100%" data-live-search="true"
                                    data-selected-text-format="count>3" multiple>
                                @foreach (var genre in ViewBag.GenreListDB)
                                {
                                    if (Model.Genres.Contains(genre))
                                    {
                                        <option selected>@genre.Name</option>
                                    }
                                    else
                                    {
                                        <option>@genre.Name</option>
                                    }
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Genres)
                        </div>

                        <div class="form-group col-md-6">
                            @Html.Label("Date de Création")
                            @Html.Label(Model.CreationDate.ToString(),
                                  new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreationDate)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("Date d'expiration")
                            @Html.TextBoxFor(model => model.ExpirationDate,
                                new { @class = "form-control", @placeholder = "Date d'expiration de l'annonce", @id = "datepickernotime2" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Description")
                            @Html.TextAreaFor(model => model.Description,
                                new { @class = "form-control", @placeholder = "Description" })
                        </div>
                        <div class="col-md-12">
                            <hr class="colorgraph" />
                        </div>
                        <div class="col-md-6">
                            @Html.ActionLink("Retour", "Index", new { controller = "Advert" },
                                new { @class = "btn btn-default col-md-12" })
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Modifier l'annonce" class="btn btn-primary col-md-12" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
