@{
    ViewBag.Title = "CalculLocation";
}

@Html.Action("GetDistance", "Users", new { LatitudeP1 = "46,7382265", LongitudeP1 = "-71,2464592", LatitudeP2 = "46,8032826", LongitudeP2 = "-71,242796" })
<br/>
@Html.Action("GetDistance", "Users", new { LatitudeP1 = "52,9399159", LongitudeP1 = "-73,5491361", LatitudeP2 = "46,7382265", LongitudeP2 = "-71,2464592" })



<br />
@Html.Action("GetLocation", "Users", new { Location = "St-romuald,Canada" })
<br />
@Html.Action("GetLocation", "Users", new { Location = "Québec,Canada" })


<div class='starrr'></div>
    <div>&nbsp;
      <span class='your-choice-was' style='display: none;'>
        Your rating was <span class='choice'></span>.
      </span>
    </div>

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/Scripts/Rating.js")
