@model TrouveUnBand.Models.MusicianProfileViewModel
@{
    ViewBag.Title = "NewProfilePage";
}
<div class="row">
    <div class="col-md-3 profile-section profile-quickinfo-tab">
        <div class="profile-header profile-header-sidebar">
            <span>Jeandit</span>
        </div>
        <div class="profile-content">
            <img id="ProfilePic" alt="" src="@Model.Photo"
                 class="photo" width="100%" />
            <div class="profile-user-quickinfo">
                <ul class="list-unstyled">
                    <li>@Model.Name</li>
                    <li>@Model.Location</li>
                    <li>Musicien</li>
                    <li>Style</li>
                    <li>@Model.InstrumentInfo.InstrumentNames[0]</li>
                    <li>Recherche(4)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-7 profile-section" style="height: 100%;">
        <div class="profile-header profile-header-info">
            <span>Informations</span>
        </div>
        <div class="profile-main-content">

            <div class="profile-section">

                <div class="profile-tab-header">
                    <span>Description</span>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                    <span>tstttdtstdstfstdfstdstdf</span>
                    <p>dkljsdj</p>
                    <p>skdjkasjh</p>
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-tab-header">
                    <span>Écouter</span>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-tab-header">
                    <span>Recherche</span>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-tab-header">
                    <span>Photo</span>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-tab-header">
                    <span>Contacter</span>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                    <center>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 profile-section profile-menu">
        <div class="">
            <div class="profile-header profile-header-menu">
                <span>Menu</span>
            </div>
            <div class="profile-content">
                <ul class="list-unstyled">
                    <li class="active"><a href="#" class=""><span>Description</span> </a></li>
                    <li><a href="#" class=""><span>Écouter</span> </a></li>
                    <li><a href="#" class=""><span>Recherche</span> </a></li>
                    <li><a href="#" class=""><span>Photo</span> </a></li>
                    <li><a href="#" class=""><span>Contacter</span> </a></li>
                </ul>
                <hr />
                <div class="profile-footer-menu">
                    <span>FB/Twitter/G+</span>
                </div>
            </div>
        </div>
    </div>

    <a id="back-to-top" href="#" class="btn back-to-top" role="button" 
       title="Retour en haut de la page." data-toggle="tooltip" data-placement="left">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>

</div>


<div class="modal fade" id="PicModal" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
     aria-hidden="true">
    @Html.Partial("../Photo/ViewPictureDialog")
</div>
