@model TrouveUnBand.Models.MusicianProfileViewModel
@{
    ViewBag.Title = "MusicianProfil";
}

<div class="container profile-container">

    <div class="jumbotron col-md-12">

        <div class="thumbnail card col-md-3">
            <img src="http://nbcprobasketballtalk.files.wordpress.com/2010/09/bogut_injured-thumb-250x172-18540-thumb-250x172-18541.jpg?w=250" alt="Image">
        </div>
        

        <div class="col-md-9 profile-header-info">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-primary pull-right label-profile-type">Musicien</span>
                    <h1>@Model.Name</h1>
                </li>
                <li>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>@Model.Location</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-music"></span>
                    <span>Rock, Christian Rock, Métal, Blues, Country</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-user"></span>
 
                    @foreach (TrouveUnBand.Models.Join_Musician_Instrument Instruments in Model.MostSkilledInstrument)
                    {
                        <span class="label label-default"  data-toggle="tooltip" data-placement="top" title="@Model.SkillList[Instruments.Skills]">
                            @Instruments.InstrumentName
                        </span>
                    }

                    <div class="pull-right">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span>Groupe, Promoteur</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="profile-info-container col-md-12">

        <div class="profile-tab-menu col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item text-center active">
                    <h4 class="glyphicon glyphicon-user"></h4><br />Description
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-camera"></h4><br />Photos
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4 class=" glyphicon glyphicon-eye-open"></h4><br />Recherche
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-play"></h4><br />Media (Soundcloud/Youtube)
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-envelope"></h4><br />Contacter
                </a>
            </div>
        </div>

        <!--Desccription-->
        <div class="profile-tab-content col-md-9 active">
            <span>Description: @Model.Description</span>

            @foreach (TrouveUnBand.Models.Join_Musician_Instrument Instruments in Model.Instruments)
            {
                List<string> SkillList = new List<string> { "Aucun", "Débutant", "Initié", "Intermédiaire", "Avancé", "Légendaire" };

                <ul class="list-unstyled">
                    <li>
                        <span>Instrument: @Instruments.InstrumentName</span>
                        <span>Niveau d'expérience: @SkillList[Instruments.Skills]</span>
                    </li>
                </ul>
            }
        </div><!--Desccription end-->
        <!--Info 4-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-camera" style="font-size:12em;color:#000000"></h1>
                <h2 style="margin-top: 0;color:#000000">Bientôt</h2>
                <h3 style="margin-top: 0;color:#000000">Disponible</h3>
            </center>
        </div><!--Info 4 end-->
        <!--Info 1-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-eye-open" style="font-size:12em;color:#000000"></h1>
                <h2 style="margin-top: 0;color:#000000">Bientôt</h2>
                <h3 style="margin-top: 0;color:#000000">Disponible</h3>
            </center>
        </div><!--Info 1 end-->
        <!--Info 2-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-play" style="font-size:12em;color:#000000"></h1>
                <h2 style="margin-top: 0;color:#000000">Bientôt</h2>
                <h3 style="margin-top: 0;color:#000000">Disponible</h3>
            </center>
        </div><!--Info 2 end-->
        <!--Info 3-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-envelope" style="font-size:12em;color:#000000"></h1>
                <h2 style="margin-top: 0;color:#000000">Bientôt</h2>
                <h3 style="margin-top: 0;color:#000000">Disponible</h3>
            </center>
        </div><!--Info 3 end-->
    </div>

</div>


<script>
    $(document).ready(function () {
        $(".profile-tab-menu>div.list-group>a").click(function (event) {
            var index = $(this).index();

            event.preventDefault();

            $(this).siblings(".active").removeClass("active");
            $(this).addClass("active");
            $(".profile-tab-content").removeClass("active");
            $(".profile-tab-content").eq(index).addClass("active");
        });
    });
</script>
