@model TrouveUnBand.Models.MusicianProfileViewModel
@{
    ViewBag.Title = "NewProfilePage";
}

<div class="row">
    <div class="col-md-3 profile-section profile-quickinfo-tab">
        <div class="profile-header profile-header-sidebar">
            <strong>@Model.Name</strong>
        </div>
        <div class="profile-content">
            <img id="ProfilePic" alt="" src="@Model.Photo"
                 class="photo" />
            <div class="profile-user-quickinfo">
                <ul class="list-unstyled">
                    <li>@Model.Name</li>
                    <li>@Model.Location</li>
                    <li>Musicien</li>
                    <li>Style</li>
                    <li>@Model.InstrumentInfo.InstrumentNames[0]</li>
                    <li>Recherche</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="information" class="col-md-7 profile-main-tab">
        <div class="profile-main-content col-md-12">
            <div class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-user"></span><strong>Informations</strong>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                    @Html.Partial("../Users/_MusicianProfileInfo", Model)
                </div>
            </div>

            <div id="listen" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-headphones"></span><strong>Écouter</strong>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>
                <div class="profile-tab-content">
                </div>
            </div>

            <div id="seeking" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-eye-open"></span><strong>Recherche</strong>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                </div>
            </div>

            <div id="photo" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-picture"></span><strong>Photo</strong>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                    @Html.Partial("../Users/_MusicianProfilePhoto", Model)
                </div>
            </div>

            <div id="contact" class="profile-section col-md-12">
                <div class="profile-tab-header">
                    <span class="glyphicon glyphicon-envelope"></span><strong>Contacter</strong>
                    <i class="chevron glyphicon glyphicon-chevron-down text-muted pull-right"></i>
                </div>

                <div class="profile-tab-content">
                    <center>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                        <p>
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                            Lorem... Lorem... Lorem... Lorem... Lorem... Lorem... Lorem...
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-menu" class="col-md-2 profile-section">
        <div class="">
            <div class="profile-header profile-header-menu">
                <strong>Menu</strong>
            </div>
            <div class="profile-content">
                <ul class="list-unstyled">
                    <li data-scroll-spy="information" class="active">
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>Informations</span>
                        </a>
                    </li>
                    <li data-scroll-spy="listen">
                        <a href="#">
                            <span class="glyphicon glyphicon-headphones"></span>
                            <span>Écouter</span>
                        </a>
                    </li>
                    <li data-scroll-spy="seeking">
                        <a href="#">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span>Recherche</span>
                        </a>
                    </li>
                    <li data-scroll-spy="photo">
                        <a href="#">
                            <span class="glyphicon glyphicon-picture"></span>
                            <span>Photo</span>
                        </a>
                    </li>
                    <li data-scroll-spy="contact">
                        <a href="#">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span>Contacter</span>
                        </a>
                    </li>
                </ul>
                <hr />
                <div class="profile-footer-menu">
                    <span>FB/Twitter/G+</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PicModal" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
     aria-hidden="true">
    @Html.Partial("../Photo/ViewPictureDialog")
</div>