@model TrouveUnBand.Models.User
@{
    ViewBag.Title = "ProfileModification";
}

@if (Request.IsAuthenticated)
{
    var user = (TrouveUnBand.Models.User)ViewData["UserData"];
    @Html.Label(User.Identity.Name + " Profile's")
    using (Html.BeginForm())
    {
        <div id="updateform">
        @Html.Label("First name:")
        @Html.TextBoxFor(model => model.FirstName, new { @Value = user.FirstName })
        @Html.ValidationMessage("FirstName")<br/><br/>

        @Html.Label("Last name:")
        @Html.TextBoxFor(model => model.LastName, new { @Value = user.LastName })
        @Html.ValidationMessage("LastName")<br/><br/>
    
        @Html.Label("Birthdate:")
        @Html.TextBoxFor(model => model.BirthDate, new { @Value = user.BirthDate })
        @Html.ValidationMessage("BirthDate")<br/><br/>
    
        @Html.Label("City:")
        @Html.TextBoxFor(model => model.City, new { @Value = user.City })
        @Html.ValidationMessage("City")<br/><br/>
    
        @Html.Label("Email:")
        @Html.TextBoxFor(model => model.Email, new { @Value = user.Email })
        @Html.ValidationMessage("Email")<br/><br/>
        <input type="submit" value="Submit" />
        </div>
    }
}
else
{
    <h2>@Html.ActionLink("Sign in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
}