@model TrouveUnBand.Models.Musician
@{
    ViewBag.Title = "ProfileModification";
}

@if (Request.IsAuthenticated)
{  
    var user = (TrouveUnBand.Models.User)ViewData["UserData"];

    using (Html.BeginForm("ProfileModification", "Users", FormMethod.Post, new { @class = "row", @role = "form", enctype = "multipart/form-data" }))
    {
        <div class="row margin-top-50">
            <div class="bs-example">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionUtil">Profil Utilisateur</a></li>
                    <li><a data-toggle="tab" href="#sectionMusician">Profil Musicien</a></li>
                    <li><a data-toggle="tab" href="#sectionBand">Profil Band</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sectionUtil" class="tab-pane fade in active">
                        <div class="row pad-top-30">
                            <div class="col-md-4">
                                <div class="row col-md-offset-2">
                                    @Html.Label("Profile Picture:")
                                </div>
                                <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><img alt="" src="@user.PhotoName" width="350" class="photo" /></a>
                                <input class="btn" type="file" name="FileUpload" />

                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="row padding-right-20">
                                            <button type="button" class="close" data-dismiss="modal">X</button>
                                        </div>
                                      </div>
                                      <div class="modal-body centrer-image">
                                        <img alt="" src="@user.PhotoName" width="600" class="photo"/>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="pad-top-10">
                                <div class="form-group col-md-3 col-md-push-1">
                                    @Html.Label("First name:")
                                    @Html.TextBoxFor(model => model.User.FirstName, new { @class = "form-control", @Value = user.FirstName })
                                    @Html.ValidationMessage("FirstName")
                                </div>
                                <div class="form-group col-md-3 col-md-push-1">         
                                    @Html.Label("Last name:")
                                    @Html.TextBoxFor(model => model.User.LastName, new { @class = "form-control", @Value = user.LastName })
                                    @Html.ValidationMessage("LastName")
                                </div>
                                <div class="form-group col-md-3 col-md-push-1">                
                                    @Html.Label("Birthdate:")
                                    @Html.TextBoxFor(model => model.User.BirthDate, new { @class = "form-control", @Value = user.BirthDate.ToString("yyyy/MM/dd") })
                                    @Html.ValidationMessage("BirthDate")
                                </div>
                                <div class="form-group col-md-3 col-md-push-1">                
                                    @Html.Label("Gender:")
                                    @Html.DropDownListFor(model => model.User.Gender, new SelectList(
                                          new List<Object>{ 
                                               new { value = "Homme" , text = "Homme"  },
                                               new { value = "Femme" , text = "Femme" },
                                            },
                                          "value",
                                          "text", user.Gender), new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-3 col-md-push-1">           
                                    @Html.Label("City:")
                                    @Html.TextBoxFor(model => model.User.Location, new { @class = "form-control", @Value = user.Location })
                                    @Html.ValidationMessage("Location")
                                </div>
        
                                <div class="form-group col-md-3 col-md-push-1">                
                                    @Html.Label("Email:")
                                    @Html.TextBoxFor(model => model.User.Email, new { @class = "form-control", @Value = user.Email })
                                    @Html.ValidationMessage("Email")
                                </div> 
                                <div class="row form-group col-md-3 margin-left-0 col-md-push-1">
                                    <input type="submit" class="btn btn-primary" value="Modifier"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sectionMusician" class="tab-pane fade">
                    <div class="pad-top-30">
                        <div class="form-group col-md-3 col-md-push-1">                
                            @Html.Label("Instrument:") 
                            @Html.DropDownListFor(model => model.Instruments, new SelectList(ViewBag.InstrumentList, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessage("Email")
                        </div> 
                        <div class="row form-group col-md-3 margin-left-0 col-md-push-1">
                            <input type="submit" class="btn btn-primary" value="Modifier"/>
                        </div>
                    </div>
                    </div> 
                    <div id="sectionBand" class="tab-pane fade">
                        <h3>Dropdown 1</h3>
                        <p>WInteger convallis, nulla in sollicitudin placerat, ligula enim auctor lectus, in mollis diam dolor at lorem. Sed bibendum nibh sit amet dictum feugiat. Vivamus arcu sem, cursus a feugiat ut, iaculis at erat. Donec vehicula at ligula vitae venenatis. Sed nunc nulla, vehicula non porttitor in, pharetra et dolor. Fusce nec velit velit. Pellentesque consectetur eros.</p>
                    </div>
                </div>
            </div>
        </div>     
    }
}
else
{
    <h2>@Html.ActionLink("Sign in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
