@model TrouveUnBand.Models.User
@{
    ViewBag.Title = "Register";
}

<h2>Register Form</h2><br/><br/>
@using (Html.BeginForm())
{
    @Html.Label("First name:")
    @Html.TextBoxFor(model => model.FirstName)<br/>
    @Html.ValidationMessage("FirstName")<br/>

    @Html.Label("Last name:")
    @Html.TextBoxFor(model => model.LastName)<br/>
    @Html.ValidationMessage("LastName")<br/>
    
    @Html.Label("Nickname:")
    @Html.TextBoxFor(model => model.Nickname)<br/>
    @Html.ValidationMessage("Nickname")<br/>
    
    @Html.Label("Birthdate:")
    @Html.TextBoxFor(model => model.BirthDate)<br/>
    @Html.ValidationMessage("BirthDate")<br/>
    
    @Html.Label("City:")
    @Html.TextBoxFor(model => model.City)<br/>
    @Html.ValidationMessage("City")<br/>
    
    @Html.Label("Email:")
    @Html.TextBoxFor(model => model.Email)<br/>
    @Html.ValidationMessage("Email")<br/>

    @Html.Label("Password:")
    @Html.PasswordFor(model => model.Password)<br/> 
    @Html.ValidationMessage("Password")<br/>
    
    @Html.Label("ConfirmPassword:")
    @Html.PasswordFor(model => model.ConfirmPassword)<br/>
    @Html.ValidationMessage("ConfirmPassword")<br/>
    <input type="submit" value="Submit" />
}
