@model TrouveUnBand.Models.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Users", new { @class = "row", @role = "form" }))
{
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 container">
                <form role="form">
                    <h2>Inscrivez-vous <small>et trouvez votre band</small></h2>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control ", @placeholder = "Prénom" })
                                @Html.ValidationMessage("FirstName")
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Nom" })
                                @Html.ValidationMessage("LastName")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control ", @placeholder = "Date de naissance (AAAA/MM/JJ)", @id = "datepickernotime", @type = "date" })
                                @Html.ValidationMessage("BirthDate")
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <div class="form-group DropDownListNoArrow">
                                     @Html.DropDownListFor(model => model.Gender, 
                                     new SelectList(
                                         new List<Object>{
                                                             new { value = "Homme" , text = "Homme" },
                                                             new { value = "Femme" , text = "Femme" },
                                                         },
                                         "value", "text", 2), "Sexe", new { @class = "form-control selectpicker" })
                                     @Html.ValidationMessage("Gender")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control ", @placeholder = "Ville" })
                        @Html.ValidationMessage("Location")
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control ", @placeholder = "Identifiant" })
                        @Html.ValidationMessage("Nickname")
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control ", @placeholder = "Courriel" })
                        @Html.ValidationMessage("Email")
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control ", @placeholder = "Mot de passe" })
                                @Html.ValidationMessage("Password")
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control ", @placeholder = "Confimer mot de passe" })
                                @Html.ValidationMessage("ConfirmPassword")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-sm-9 col-md-12">
                            <span>En cliquant sur «Inscription», vous acceptez les <a href="#" data-toggle="modal" data-target="#TermsAndConditions">Conditions générales d'utilisation</a>.</span>
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="submit" value="Inscription" class="btn btn-primary btn-block ">
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="Button" value="Réinitialiser" class="btn btn-default btn-block " onclick="window.location.href='@Url.Action("Register")'" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TermsAndConditions" >
        @RenderPage("TermsAndConditionsDialog.cshtml")
    </div>
</body>
</html>
}
