@model TrouveUnBand.Models.Event

@Html.DisplayNameForModel()
@*
    Metadata de Schema.org
*@
<div>
    <div vocab="http://schema.org/" typeof="MusicEvent">
        <div property="location" typeof"MusicVenue">
            <meta property="name" content="@Model.EventLocation"/>
            <meta property="adress" content="@Model.Adress @Model.City"/>
        </div>
        <a property="url" href="@Request.Url"></a>
        <h2 property="name">@Model.Name</h2>
        <div property="Person" content="@Model.EventCreator"></div>
        <div property="startDate">
            @Html.DisplayFor(Modelitem => Model.EventDate)
        </div>
        <div property="Performer" typeof="MusicGroup">
            <meta property="Name" content="@Model.Band.Name" />
        </div>
    </div>
</div>

@*
    Metadata de Open Graph protocol
*@
<div>
    @section AddToHead{
        <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:og="http://ogp.me/ns#"
          xmlns:fb="http://www.facebook.com/2008/fbml">
            
        <title>TrouverUnband</title>
        <meta property="og:title" content="TrouverUnBand">
        <meta property="og:type" content="event">
        <meta property="og:url" content="@Request.Url">
        <meta property="og:image" content="http://placehold.it/600x200">
        <meta property="og:site_name" content="TrouverUnBand.com">
        <meta property="fb:app_id" content="376742939160233">
        <meta property="og:description" content="Chercher et trouver un band ou un musicien">
    }
</div>
<!-- Open Graph Meta Tags by: www.MetaTagGenerator.org -->
