<!--Search Results-->
<div class="row">
    <h3 class="col-md-12">@ViewBag.ResultNumber résultats trouvés</h3>
    @foreach (var item in (List<TrouveUnBand.ViewModels.ResultViewModels>)ViewData["Results"])
    {
        <div class="col-md-3">
            <div class="thumbnail">
                @if (item.Type == "Band")
                {
                    <img src="/Photos/_StockPhotos/_stock_band.jpg" alt="image">
                }
                else
                {
                    <img src=@item.Photo alt="Image">
                }
                <div class="caption">
                    <h3 class="search-manage-overflow title">@item.Name</h3>
                    <b class="label label-primary">@item.Type</b>
                    <p class="search-manage-overflow">@item.Description</p>
                    <p class="search-manage-overflow location">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        @item.Location
                    </p>
                    <p>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-music"></span><span>
                                @{
                                    var i = 0;
                                    var TextPopOver = "";
                                    foreach (var genre in item.Genres)
                                    {
                                        TextPopOver += "<p>" + genre + "</p>";
                                        if (i < 1)
                                        {
                                            @Html.Raw(genre + ", ");
                                        }
                                        if (i == 1)
                                        {
                                            @Html.Raw(genre + "");
                                        }
                                        i++;
                                    }
                                }
                                <a href="#" tabindex="0" role="button"
                                   data-toggle="popover" data-html="true" title="Genres musicaux" data-content="@TextPopOver">
                                    <span class="label label-default">...</span>
                                </a>
                            </span>
                        </div>
                    </p>
                    <p>
                        <div class="col-md-offset-6">
                            @Html.ActionLink("Voir profil", "ViewProfile", "Search", new { type = item.Type, Id = item.ID }, new { @class = "btn btn-primary", @role = "button" })
                        </div>
                    </p>
                </div>
            </div>
        </div>
    }
</div><!--/Search Results-->
