<!--Search Results-->
<div class="row">
    <h3 class="col-md-12">@ViewBag.ResultNumber résultats trouvés</h3>
    @foreach (var item in (List<TrouveUnBand.Models.SearchResult>)ViewData["ResultsList"])
    {
        <div class="col-md-3">
            <div class="thumbnail card">
                <img src="http://placehold.it/250x172" alt="Image">
                <div class="caption">
                    <h3>@Html.DisplayName(item.Name)</h3>
                    <b>@item.Type</b>
                    <p>@Html.DisplayName(item.Description)</p>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        @Html.DisplayName(item.Location)
                    </p>
                    @{
                        if (item.Subgenres != null)
                        {
                            foreach (var subgenre in item.Subgenres)
                            {
                                <span class="label label-default">@subgenre</span>
                            }
                        }
                    }
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    }
</div><!--/Search Results-->
