@{
    ViewBag.Title = "Search";
}

<div class="form-group">
@using (Ajax.BeginForm("Filter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
{
    <div class="form-inline searchform">
        <label for="DDLCategories">Affiche</label>
        @Html.DropDownList("DDLCategories", (SelectList)ViewData["CategoriesList"], new { @class = "form-control" })
        <label for="DDLGenres">parmis</label>
        @Html.DropDownList("DDLGenres", (SelectList)ViewData["GenresList"], "tous les genres", new { @class = "form-control" })
        <label for="Location">dans la région de</label>
        @Html.TextBox("Location", "", new { @class = "form-control", @placeholder = "i.e. Québec" })
    </div>

    @Html.Partial("_Searchbar")
}
</div>

<div class="advanced-search">
    @using (Ajax.BeginForm("AdvancedFilter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
    {
        @Html.Partial("_Searchbar")
        <div class="panel panel-default">
            <div id="advanced-search-link" class="panel-heading">Recherche avancée</div>
            <div class="panel-body">
                <div class="col-md-3">
                    @Html.RadioButton("rbCategories", "All", true) Afficher tout
                    @Html.RadioButton("rbCategories", "Bands", false) Groupes
                    @Html.RadioButton("rbCategories", "Musicians", false) Musiciens
                    @Html.RadioButton("rbCategories", "Users", false) Utilisateurs
                </div>
            </div>
            <table class="table">
                <tr>
                    @{
                        foreach (var genre in (List<String>)ViewData["Genres"])
                        {
                            <th>@genre</th>
                        }
                    }
                </tr>
                <tr>
                    @{
                        foreach (var list in (List<List<String>>)ViewData["Subgenres"])
                        {
                            <td>
                                <ul class="searchfilter">
                                    @{
                                        foreach (var genre in list)
                                        {
                                            <li class="searchfilter">@Html.CheckBox("CbSubgenres", false, new { @value = @genre }) @genre</li>
                                        }
                                    }
                                </ul>
                            </td>
                        }
                    }
                </tr>
            </table>
    </div>
    }
</div>

<div id="SearchResults">
    @Html.Partial("_SearchResults")
</div>
