@{
    ViewBag.Title = "Search";
}
<div class="form-group">
    @using (Ajax.BeginForm("Filter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
    {
        <div class="input-group input-group-lg searchbar">
            @Html.TextBox("searchstring", "", new { @class = "form-control", @placeholder = "Recherche" })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    Go!</button>
            </span>
        </div>
        
        <div class="form-inline searchform">
            @Html.CheckBox("cbBandsChecked", true) <span>Bands</span>
            @Html.CheckBox("cbMusiciansChecked", true) <span>Musiciens</span>
            @Html.CheckBox("cbAdvertsChecked", true) <span>Annonces</span>
            @Html.CheckBox("cbEventsChecked", true) <span>Événements</span>
        </div>
    
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("selectedCategory", (SelectList)ViewBag.Categories, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <select name="cbSelectedGenres" class="selectpicker form-control" title="tous les genres"
                    data-width="100%" data-live-search="true" data-selected-text-format="count>3"
                    multiple>
                    @foreach (var list in (List<List<String>>)ViewBag.Subgenres)
                    {
                        <li class="dropdown-submenu">
                            <optgroup label="@list.FirstOrDefault()">
                                <ul class="dropdown-menu">
                                    @foreach (var genre in list)
                                    {
                                        <option>@genre</option>
                                    }
                                </ul>
                            </optgroup>
                        </li>
                    }
                </select>
            </div>
            <div class="col-md-2">
                @Html.TextBox("location", "", new { @class = "form-control", @placeholder = "Ville" })
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    @Html.TextBox("radius", "", new { @class = "form-control", @placeholder = "Rayon de 20" })
                    <span class="input-group-addon">
                        <label>
                            KM</label></span>
                </div>
            </div>
        </div>
    }
</div>
<div id="SearchResults">
    @Html.Partial("_SearchResults")
</div>
