@{
    ViewBag.Title = "Search";
}

<div id="basic-search">
@using (Ajax.BeginForm("BasicFilter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
{
    <div class="form-inline searchform">
        <label for="ddlCategories">Affiche</label>
        @Html.DropDownList("ddlCategories", (SelectList)ViewData["CategoriesList"], new { @class = "form-control" })
        <label for="ddlGenres">parmis</label>
        @Html.DropDownList("ddlGenres", (SelectList)ViewData["GenresList"], "tous les genres", new { @class = "form-control" })
        <label for="location">dans la région de</label>
        @Html.TextBox("location", "", new { @class = "form-control", @placeholder = "i.e. Québec" })
    </div>

    @Html.Partial("_Searchbar")
}
</div>

<a href="#" id="advanced-search-link">Recherche avancée</a>

<div id="advanced-search">
    @using (Ajax.BeginForm("AdvancedFilter", "Search", FormMethod.Get, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "SearchResults" }))
    {
        @Html.Partial("_Searchbar")
        <div class="panel panel-default">
            <div class="panel-heading">Recherche avancée</div>

            <div class="panel-body">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>@Html.RadioButton("rbCategories", "option_all", true) Afficher tout</li>
                        <li>@Html.RadioButton("rbCategories", "option_band", false) Groupes</li>
                        <li>@Html.RadioButton("rbCategories", "option_musician", false) Musiciens</li>
                        <li>@Html.RadioButton("rbCategories", "option_user", false) Utilisateurs</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    @Html.TextBox("location", "", new { @placeholder="Ville", @class="form-control"})
                    @Html.TextBox("Radius", "", new { @placeholder="Rayon", @class="form-control"})
                </div>

                <div class="col-md-4">
                    <button type="button" class="btn btn-primary">Recommencer</button>
                </div>
            </div>

            <table class="table">
                <tr>
                    @foreach (var genre in (List<String>)ViewData["Genres"])
                    {
                        <th>@genre</th>
                    }
                </tr>
                <tr>
                    @foreach (var list in (List<List<String>>)ViewData["Subgenres"])
                    {
                        <td>
                            <ul class="searchfilter">
                                @foreach (var genre in list)
                                {
                                    <li class="searchfilter">@Html.CheckBox("cbSubgenres", false, new { @value = @genre }) @genre</li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            </table>
    </div>
    }
</div>

<div id="SearchResults">
    @Html.Partial("_SearchResults")
</div>
