@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "_ BandBaseTab";
    var band = (TrouveUnBand.Models.Band)ViewData["BandData"];
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Créee ton band - informations de base</h2>
        @using (Ajax.BeginForm("SubmitInfo", "Group", FormMethod.Get, new AjaxOptions{ UpdateTargetId = "basetab" }))
        {
        
            <div>
                @Html.Label("Nom")
            </div>
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.Label("Location")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
            <div class="editor-label">
                @Html.Label("Description")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <button type="submit" value="Créer">Envoyer</button>
        }
    </div>
</div>