@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Erreur";
}


<div class="modal-content">

        
    <h2>Confirmation de la création</h2>

    @using (Html.BeginForm("ConfirmCreate", "Group"))
    {
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.Label("Nom")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.Label("Location")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>

            <div class="editor-label">
                @Html.Label("Description")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                <input type="submit" value="Confirmer"/>
            </p>
    }				
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
