@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Confirmation";
}

<div class="modal-content">

        
    <h2>Confirmation de la création</h2>

    @using (Html.BeginForm("ConfirmCreate", "Group"))
    {
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.Label("Nom")
            </div>
            <div>
                @Html.DisplayFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.Label("Genre")
            </div>
            <div>
                @foreach (var item in (List<TrouveUnBand.Models.Genre>)ViewData["Genres"])
                {
                    
                }
            </div>
        
            <div>
                @foreach (var item in (List<TrouveUnBand.Models.Musician)ViewData["Musicians"])
                {

                }
            </div>
            
            <div class="editor-label">
                @Html.Label("Location")
            </div>
            <div>
                @Html.DisplayFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>

            <div class="editor-label">
                @Html.Label("Description")
            </div>
            <div>
                @Html.DisplayFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                <input type="submit" value="Confirmer"/>
            </p>
    }				
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
