@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

@Html.DisplayFor(model => model.Name)
@Html.DisplayFor(model => model.Location)
@Html.DisplayFor(model => model.Description)

@foreach (var item in Model.Genres)
{
    <span>@item.Name</span>
}

@foreach (var item in Model.Users)
{
    <span>@item.FirstName @item.LastName</span>
}



<button type="button" class="btn btn-default btn-sm" title="Edit" onclick="location.href='@Url.Action("CreateConfirm", "Group", new { id = Model.Band_ID })'">
</button>