@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Confirmation";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h2>Confirmation</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        @Model.Photo
    </div>
    <div class="col-md-6">
        @Model.Name
    </div>
    <div class="col-md-6">
        @Model.Location
    </div>
    <div class="col-md-12">
        @Model.Description 
    </div>
    <div>
        <ul>
            <h2><small>Genres</small></h2>
            @foreach (var item in Model.Genres)
            {
                <div>
                    <li>
                        <span>@item.Name</span>
                    </li>
                </div>
            }
        </ul>
    </div>
    <div>
        <ul>
            <h2><small>Membres</small></h2>
            @foreach (var item in Model.Users)
            {
                <div>
                    <li>
                        <span>@item.FirstName @item.LastName</span>
                    </li>
                </div>
            }
        </ul>
    </div>
</div>
<input type="button" id="btnCancel" class="btn btn-danger" onclick="Cancel()" value="Corriger"/>

@Html.ActionLink("Confirmer", "Confirm", new{ bandName = Model.Name, bandDesc = Model.Description, bandLocation = Model.Location, sGenres = ViewBag.sGenres, sUsers =ViewBag.sUsers}, new { @class = "btn btn-primary" })