@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Confirmation";
}

@Html.DisplayFor(model => model.Name)
@Html.DisplayFor(model => model.Location)
@Html.DisplayFor(model => model.Description)

@foreach (var item in Model.Genres)
{
    <span>@item.Name</span>
}

@foreach (var item in Model.Users)
{
    <span>@item.FirstName @item.LastName</span>
}


<input type="button" id="btnCancel" onclick="Cancel()" value="Corriger"/>
@Html.ActionLink("Confirmer","Confirm", Model)