<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.ResultsCount musiciens trouvés</div>
    <table class="table">
        @foreach (var musician in (List<TrouveUnBand.Models.BandMemberModel>)ViewBag.Results)
        {
            <tr>
                <td>@musician.User_ID</td>
                <td>@musician.FirstName</td>
                <td>@musician.LastName</td>
                <td>@musician.Location</td>

                <td><input id="btnAddMember" type="button" class="btn btn-default"value="Ajouter au groupe" onclick="AddBandMember(@Json.Encode(musician));" /></td>
            </tr>
        }
    </table>
</div>
