@model TrouveUnBand.ViewModels.BandMembersViewModel

<div class="panel panel-default">
    <div class="panel-heading">@Model.PotentialMembers.Count résultats trouvés</div>
    <table class="table">
        @foreach (var musician in Model.PotentialMembers)
        {
            <tr>
                <td class="hidden">@musician.User_ID</td>
                <td>@musician.FirstName @musician.LastName</td>
                <td>@musician.Location</td>
                <td>@Ajax.ActionLink("Ajouter", "AddBandMember", new { userId = musician.User_ID }, new AjaxOptions { UpdateTargetId="band-members"})</td>
            </tr>
        }
    </table>
</div>
