@using TrouveUnBand.Models

@using (Ajax.BeginForm("SearchMusician", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "user-results" }))
{
    <div id="band-members" class="panel panel-default">    
        <div class="panel-heading">Membres du groupe</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Nom de musicen</th>
                    <th>Ville</th>
                    <th>Option</th>
                </tr>
                @foreach (var member in (List<BandMemberModel>)Session["BandMembers"])
                {
                    <tr>
                        <td class="hidden">@member.User_ID</td>
                        <td>@member.FirstName @member.LastName</td>
                        <td>@member.Location</td>
                        <td>@Ajax.ActionLink("Retirer", "RemoveBandMember", new { userId = member.User_ID }, new AjaxOptions { UpdateTargetId = "band-members" })</td>
                    </tr>
                }
            </table>
            <div class="col-md-6 col-md-offset-2">
                @Html.TextBox("searchString", "", new { @class = "form-control col-md-12", @placeholder = "Nom d'un musicien" })
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info col-md-12">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
}

<div id="user-results" class="col-md-12">
</div>
