@model TrouveUnBand.Models.Musician

@{
    ViewBag.Title = "Créer ton Band - Musiciens";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Crée ton band - Les musiciens</h2>


        <div>
            @if (((List<TrouveUnBand.Models.Musician>)Session["myMusicians"]) != null)
            {
                    int mTrid = 0;
                    <table id="GenreTable">
                    @foreach (var item in ((List<TrouveUnBand.Models.Musician>)Session["myMusicians"]))
                    { 
                        <tr id="@mTrid">
                            <td>
                                @item.User.Nickname
                            </td>
                            <td>
                                @if (mTrid > 0)
                                {
                                    @Ajax.ActionLink(" ", "RemoveMusician", new { MusicianId = item.MusicianId },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Delete",
                                                UpdateTargetId = "musiciantab",
                                                OnSuccess = "$('#" + @mTrid + "').remove();"
                                            }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-plus" })
                                }
                            </td>
                        </tr>
                        mTrid++;
                    }
                    </table>             
            }
        </div>



        <div>
            @using (Ajax.BeginForm("SearchMusician", "Group", FormMethod.Get,
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "Get",
                                                            UpdateTargetId = "musiciantab"
                                                        }))
            {
                @Html.Editor("SearchString", "", new { @class="form-control" })
                <button type="submit" value="Search">
                    <span  class="glyphicon glyphicon-search"></span>
                </button>
            }
            <div>
                <table class="table table-striped table-bordered table-hover" data-toggle="table">
                    <tr>
                        <th>
                            @Html.Display("Prénom")
                        </th>
                        <th>
                            @Html.Display("Nom de famille")
                        </th>
                        <th>
                            @Html.Display("Identifiant")
                        </th>
                        <th>
                        </th>
                    </tr>
                    @if ((List<TrouveUnBand.Models.Musician>)ViewData["SearchMusicians"] != null)
                    {
                        foreach (var item in (List<TrouveUnBand.Models.Musician>)ViewData["SearchMusicians"])
                        {
                            int sTrid = 0;
                            <tr>
                                <td>
                                    @item.User.FirstName
                                </td>
                                <td>
                                    @item.User.LastName
                                </td>
                                <td>
                                    @item.User.Nickname
                                </td>
                                <td>
                                    <span  class="glyphicon glyphicon-plus">
                                        @Ajax.ActionLink("AjaxLink", "AddMusician", new {MusicianId = item.MusicianId}, 
                                                new AjaxOptions {
                                                    HttpMethod = "Put", 
                                                    UpdateTargetId = "musiciantab", 
                                                    OnSuccess = "$('#" + @sTrid + "').remove();"
                                                })
                                    </span>
                                </td>
                            </tr>
                            sTrid++;
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>