@model TrouveUnBand.Models.Musician

@{
    ViewBag.Title = "Créer ton Band - Musiciens";
}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Crée ton band - Les musiciens</h2>

        <div>
        @using (Ajax.BeginForm("SearchMusician", "Group", FormMethod.Get,
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "Get",
                                                            UpdateTargetId = "musiciantab",
                                                        }))
        {
            @Html.Editor("SearchString", "", new { @class = "form-control", @placeholder = "Nom, prénom ou identifiant" })
            <button type="submit" class="btn btn-default btn-sm" title="Search">
                <span  class="glyphicon glyphicon-Search">
                </span>
            </button>
        }
        </div>
        <div>
            @if (((TrouveUnBand.Models.Band)Session["myBand"]).Musicians != null)
            {
                int mTrid = 0;
        
                <table>
                    @foreach (TrouveUnBand.Models.Musician item in ((TrouveUnBand.Models.Band)Session["myBand"]).Musicians.ToList())
                    {
                        <tr id="@mTrid">
                            <td>
                                <span>@item.User.FirstName @item.User.LastName</span>
                            </td>
                            <td>
                                @if (mTrid > 0)
                                {
                                    @Ajax.ActionLink(" ", "RemoveMusician", new { MusicianId = item.MusicianId },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Delete",
                                                UpdateTargetId = "musiciantab",
                                                OnSuccess = "$('#" + @mTrid + "').remove();"
                                            },
                                            new { @class = "form-control glyphicon glyphicon-minus btn btn-default btn-sm" })
                                }
                            </td>
                        </tr>
                                mTrid++;
                    }
                </table>
            }
            else
            {
                TempData["TempDataError"] = "Profil musicien introuvable";
            }
        </div>
        <div id="musicianresult">
            <table class="table table-striped table-bordered table-hover" data-toggle="table">
                <tr>
                    <th>
                        <span>Prénom</span>
                    </th>
                    <th>
                        <span>Nom de famille</span>
                    </th>
                    <th>
                        <span>Identifiant</span>
                    </th>
                    <th>
                    </th>
                </tr>
                @if ((List<TrouveUnBand.Models.Musician>)ViewData["MusicianResult"] != null)
                {
                    int sTrid = 0;
                    foreach (var item in (List<TrouveUnBand.Models.Musician>)ViewData["MusicianResult"])
                    {
                        <tr>
                            <td>
                                @item.User.FirstName
                            </td>
                            <td>
                                @item.User.LastName
                            </td>
                            <td>
                                @item.User.Nickname
                            </td>
                            <td>
                                @Ajax.ActionLink(" ", "AddMusician", new { MusicianId = item.MusicianId },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Put",
                                                UpdateTargetId = "genretab",
                                                OnSuccess = "$('#" + @sTrid + "').remove();"
                                            },
                                            new { @class = "form-control glyphicon glyphicon-plus btn btn-default btn-sm" })
                            </td>
                        </tr>
                        sTrid++;
                    }
                }
            </table>
        </div>
    </div>
</div>