<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.ResultsCount musiciens trouvés</div>
    <table class="table">
        @foreach (var musician in (List<TrouveUnBand.Models.User>)ViewBag.Results)
        {
            <tr>
                <td>@musician.User_ID</td>
                <td>@musician.FirstName</td>
                <td>@musician.LastName</td>
                <td>@musician.Location</td>
                <script>
                    var json = {"FirstName": '@musician.FirstName',"LastName":'@musician.LastName', "ID":'@musician.User_ID', "Location":'@musician.Location'}
                </script>
                <td><input id="btnAddMember" type="button" value="Ajouter au groupe" onclick="AddBandMember(json);" /></td>
            </tr>
            <input id="btnRmvMember" type="button" value="Enlever au groupe" onclick="RemoveBandMember('@musician.User_ID')" />
        }
    </table>
</div>