<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.ResultsCount musiciens trouvés</div>
    <table class="table">
        @foreach (var musician in ViewBag.Results)
        {
            <tr>
                <td>@musician.FirstName</td>
                <td>@musician.LastName</td>
                <td>@musician.Location</td>
                <td>@Html.ActionLink("Ajouter au groupe", "AddMusician", "Group", new { userid=@musician.Musician_ID })</td>
            </tr>
        }
    </table>
</div>