@model TrouveUnBand.Models.Musician

@{
    ViewBag.Title = "Resultat de recherche";
}

<h2>Resultat</h2>
<table class="table table-striped table-bordered table-hover" data-toggle="table">
    <tr>
        <th>
            @Html.Display("Prénom")
        </th>
        <th>
            @Html.Display("Nom de famille")
        </th>
        <th>
            @Html.Display("Identifiant")
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in (List<TrouveUnBand.Models.Musician>)ViewData["SearchMusicians"] )
{
    <tr>
        <td>
            @item.User.FirstName
        </td>
        <td>
            @item.User.LastName
        </td>
        <td>
            @item.User.Nickname
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm" title="Edit" onclick="location.href='@Url.Action("Edit", "Group", new { id = item.MusicianId })'">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
}
