@model TrouveUnBand.Models.BandProfileViewModel
@{
    ViewBag.Title = "BandProfile";
}

<div class="profile-container">
    <div class="jumbotron col-md-12">
        <div class="thumbnail card col-md-3">
            <a href="#" data-toggle="modal" data-target="#PicModal">
                <img id="ProfilePic" alt="" src="http://placehold.it/250x172" width="250" class="photo" />
            </a>
        </div>
        <div class="col-md-9 profile-header-info">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-primary pull-right label-profile-type">Band</span>
                    <h1>@Model.Name</h1>
                </li>
                <li>
                    <span class="glyphicon glyphicon-map-marker"></span><span>Location</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-music"></span><span>Rock, Christian Rock, Métal, Blues, Country</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-eye-open"></span><span>Guitariste, Promoteur</span>
                </li>
                <li>
                    <div class="col-md-offset-9 pull-right">
                        @Html.Partial("../SocialMedia/_ShareButtons")
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-info-container col-md-12">
        <div class="profile-tab-menu col-md-3">
            <div class="list-group">
            <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-play col-md-12"></span>
                    <span>Media (Soundcloud/Youtube)</span>
                </a>

                <a href="#" class="list-group-item text-center active">
                    <span class="glyphicon glyphicon-user col-md-12"></span>
                    <span>Description</span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class=" glyphicon glyphicon-eye-open col-md-12"></span>
                    <span>Recherche </span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-picture col-md-12"></span>
                    <span>Photos</span>
                </a>

                <a href="#" class="list-group-item text-center">
                    <span class="glyphicon glyphicon-envelope col-md-12"></span>
                    <span>Contacter</span>
                </a>
            </div>
        </div>
        <!--Media-->
        <div class="profile-tab-content col-md-9">
            <canvas id="canvas" width="825" height="375"></canvas>
        </div>
        <!--Media end-->
        <!--Description-->
        <div class="profile-tab-content col-md-9 active">
            @Html.Partial("../Group/_BandProfileInfo")
        </div>
        <!--Desccription end-->
        <!--Seeking-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-eye-open" style="font-size: 12em; color: #000000"></h1>
                <h2 style="margin-top: 0; color: #000000">
                    Bientôt
                </h2>
                <h3 style="margin-top: 0; color: #000000">
                    Disponible
                </h3>
            </center>
        </div>
        <!--Seeking end-->
        <!--Pictures-->
        <div class="profile-tab-content col-md-9 pictures-tab">
            <span>Photo</span>
        </div>
        <!--Pictures end-->
        <!--Contact-->
        <div class="profile-tab-content col-md-9">
            <center>
                <h1 class="glyphicon glyphicon-envelope" style="font-size: 12em; color: #000000"></h1>
                <h2 style="margin-top: 0; color: #000000">
                    Bientôt
                </h2>
                <h3 style="margin-top: 0; color: #000000">
                    Disponible
                </h3>
            </center>
        </div>
        <!--Contact end-->
    </div>
</div>
<div class="modal fade" id="PicModal" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
     aria-hidden="true">
    @Html.Partial("../Photo/ViewPictureDialog")
</div>

<div visibility="hidden">
    @Html.Partial("../Shared/_Metadata-Band")
</div>
