@{
    ViewBag.Title = "Création band";
}
<div class="row col-md-8 col-md-offset-2" >
    @if (Request.IsAuthenticated && (TrouveUnBand.Models.Band)Session["myBand"] != null)
    {
        <!-- Button trigger modal -->
        <div class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
            @Ajax.ActionLink("Terminer", "UpdateModal", FormMethod.Get,
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = "ConfirmModalDialog",
                        OnSuccess = "$('#thisdiv').load(document.URL +  '#thisdiv');"
                    }, new { @class = "btn btn-default btn-lg btn-block"})
        </div>
    
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#basetab" role="tab" data-toggle="tab">Information de base</a></li>
          <li><a href="#genretab" role="tab" data-toggle="tab">Genre</a></li>
          <li><a href="#musiciantab" role="tab" data-toggle="tab">Musicien</a></li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane in active" id="basetab">
                @Html.Partial("_BaseTab")
            </div>
            <div class="tab-pane" id="genretab">
                @Html.Partial("_GenreTab")
            </div>
            <div class="tab-pane" id="musiciantab">
                @Html.Partial("_MusicianTab")
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-3 span3 offset2">
                <h2>@Html.ActionLink("S'identifier", "Login", "Users", routeValues: null, htmlAttributes: new { id = "LoginLink" })</h2>
            </div>
            <div class="col-lg-3 span3">
                <h2>@Html.ActionLink("S'enregistrer", "Register", "Users", routeValues: null, htmlAttributes: new { id = "RegisterLink" })</h2>
            </div>
        </div>
    }
</div>

            <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ConfirmModalDialog">
                salut
            </a>

<div class="modal fade" id="ConfirmModalDialog" tabindex="-1" role="dialog" aria-labelledby="PicModalLabel"
                aria-hidden="true">
    @RenderPage("_ConfirmCreateDialog.cshtml")
</div>
