@{
    ViewBag.Title = "Création band";
}
<div class="row" >
    <h2>Création de band</h2>
    @if (Request.IsAuthenticated)
    {
        <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
          Terminer
        </button>
    
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#basetab" role="tab" data-toggle="tab">Information de base</a></li>
          <li><a href="#genretab" role="tab" data-toggle="tab">Genre</a></li>
          <li><a href="#musiciantab" role="tab" data-toggle="tab">Musicien</a></li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane in active" id="basetab">
                @Html.Partial("_BaseTab")
            </div>
            <div class="tab-pane" id="genretab">
                @Html.Partial("_GenreTab")
            </div>
            <div class="tab-pane" id="musiciantab">
                @Html.Partial("_MusicianTab")
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-3 span3 offset2">
                <h2>@Html.ActionLink("S'identifier", "Login", "Users", routeValues: null, htmlAttributes: new { id = "LoginLink" })</h2>
            </div>
            <div class="col-lg-3 span3">
                <h2>@Html.ActionLink("S'enregistrer", "Register", "Users", routeValues: null, htmlAttributes: new { id = "RegisterLink" })</h2>
            </div>
        </div>
    }
</div>

<!-- Button trigger modal -->

<div>
    @Html.Partial("_ConfirmCreateDialog")
</div>
