@{
    ViewBag.Title = "Création band";
}
<div class="row" >
    <h2>Création de band</h2>
    @if (Request.IsAuthenticated)
    {
        <div class="progress">
          <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
    
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block">Terminer</button>
        </div>
    
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active col-md-3"><a href="#basetab" role="tab" data-toggle="tab">Information de base</a></li>
          <li class="col-md-3"><a href="#genretab" role="tab" data-toggle="tab">Genre</a></li>
          <li class="col-md-3"><a href="#musiciantab" role="tab" data-toggle="tab">Musicien</a></li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane in active" id="basetab">
                @Html.Partial("_BaseTab", (TrouveUnBand.Models.Band)ViewData["BandData"])
            </div>
            <div class="tab-pane" id="genretab">
        
                @Html.Partial("_GenreTab", (TrouveUnBand.Models.Genre)ViewData["GenreData"])
            </div>
            <div class="tab-pane" id="musiciantab">
                @Html.Partial("_MusicianTab", (TrouveUnBand.Models.Musician)ViewData["MusicianData"])
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-3 span3 offset2">
                <h2>@Html.ActionLink("S'identifier", "Login", "Users", routeValues: null, htmlAttributes: new { id = "LoginLink" })</h2>
            </div>
            <div class="col-lg-3 span3">
                <h2>@Html.ActionLink("S'enregistrer", "Register", "Users", routeValues: null, htmlAttributes: new { id = "RegisterLink" })</h2>
            </div>
        </div>
    }
</div>
