@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Création band";
}

<h2>Création de band</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.Label("Nom")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.Label("Location")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.Label("Description")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="button" value="Créer" href="#" data-toggle="modal" data-target="#ConfirmCreate"/>
        </p>

        <div class="col-xs-8 col-sm-9 col-md-12">
        En cliquant sur «Inscription», vous acceptez les <a href="#" data-toggle="modal" data-target="#TermsAndConditions">Conditions générales d'utilisation</a>.
        </div>
    </fieldset>
}

    <div class="modal fade" id="ConfirmCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @RenderPage("ConfirmCreate.cshtml")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}