@model TrouveUnBand.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CreateGroupModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyStyleId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyStyleId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MyMemberId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MyMemberId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Experience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Experience)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
