@model TrouveUnBand.Models.CreateGroupModel

@{
    ViewBag.Title = "Créer un groupe";
}

<h2>CreateGroup</h2>

<fieldset>
<legend>Créer un groupe</legend>
    

    <div class="FormWrapper">
        <div id="NameContainer" class="FormContainer">
            <div class="editor-label">
                @Html.LabelFor(model => model.GroupName)
            </div>
            <div>
                @Html.EditorFor(model => model.GroupName)
                @Html.ValidationMessageFor(model => model.GroupName)
            </div>
        </div>

        <div id="StyleContainer" class="FormContainer">
            <div class="editor-label">
                @Html.LabelFor(model => model.MyStyleId)
            </div>
            <div class="editor-field">
                <div class="MultiValueContainer">
                    @Html.DropDownListFor(model => model.MyStyleId, 
                         new SelectList(Styles, "StyleId", "Name"))
                    @Html.ValidationMessageFor(model => model.MyStyleId)
                    <p>Bouton Rechercher</p><p>Bouton ajouter</p><p>Bouton supprimer</p>
                </div>
            </div>
        </div>

        <div id="MemberContainer" class="FormContainer">
            <div class="editor-label">
                @Html.LabelFor(model => model.MyMemberId)
            </div>
            <div class="editor-field">
                <div class="MultiValueContainer">
                    @Html.DropDownListFor(model => model.MyMemberId, 
                         new SelectList(Members, "MemberId", "Name"))
                    @Html.ValidationMessageFor(model => model.MyMemberId)
                    <div>
                        <h2>Recherche Member</h2>
                    </div>
                    <p>Bouton Rechercher</p><p>Bouton ajouter</p><p>Bouton supprimer</p>
                </div>
            </div>
        </div>

        <div id="ExperienceContainer" class="FormContainer">
            <div class="editor-label">
                @Html.LabelFor(model => model.Experience)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Experience)
                @Html.ValidationMessageFor(model => model.Region)
            </div>
        </div>
        <input type="Submit" value="Créer"/>
    </div>

</fieldset>
