<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrapcss")
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="titre">
            <!--NAVBAR-->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TrouveUnBand.com", "Index", "Home", new { @class = "navbar-brand" })

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="index">@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li id="about">@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li id="contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li id="groupe">@Html.ActionLink("Groupes", "Index", "Group")</li>
                        <li id="event">@Html.ActionLink("Événements", "Index", "Event")</li>
                        <li id="Advert">@Html.ActionLink("Annonces", "Index", "Advert")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" >
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                    
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class="navbar-form navbar-right", @role="search" }))
                    {
                        @Html.TextBox("SearchString", "", new { @class = "form-control", @placeholder = "Recherche rapide" })
                        @Html.ValidationMessage("SearchString")
                        <button type="submit" class="hidden" value="search"></button>
                    }
                </div><!--/.nav-collapse -->
            </div>
        </div><!--END NAVBAR-->
        <!--MAIN CONTENT-->
        <div class="page-alerts">
            @if (TempData["TempDataError"] != null && TempData["TempDataError"] != "")
            {
                <div class="alert alert-danger page-alert">
                    <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <span class="glyphicon glyphicon-ban-circle"></span><strong> Oops! </strong><span>@TempData["TempDataError"]</span>
                </div>
            }
            @if (TempData["success"] != null && TempData["success"] != "")
            {
                <div class="alert alert-success page-alert" id="alert-1">
                    <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <span class="glyphicon glyphicon-ok"></span><strong> Bravo! </strong><span>@TempData["success"]</span>
                </div>
            }
            @if (TempData["warning"] != null && TempData["warning"] != "")
            {
                <div class="alert alert-warning page-alert" id="alert-2">
                    <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <span class="glyphicon glyphicon-asterisk"></span><strong> Attention </strong><span>@TempData["warning"]</span>
                </div>
            }
        </div>
        <div class="container" style="padding-top:100px">
            @RenderSection("featured", required: false)
            @RenderSection("scripts", required: false)
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jqueryval")
		
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/SocialMedia")
        @Scripts.Render("~/bundles/customjs") 
        @Scripts.Render("~/Scripts/konami.js")
        
            

        <!-- JSNES Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <h1>JSNES</h1>
    
                <div id="emulator"></div>
    
                <h2>Controls</h2>
                <table id="controls">
                    <tr>
                        <th>Button</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td>Left</td>
                        <td>Num-4</td>
                    <tr>
                        <td>Right</td>
                        <td>Right</td>
                        <td>Num-6</td>
                    </tr>
                    <tr>
                        <td>Up</td>
                        <td>Up</td>
                        <td>Num-8</td>
                    </tr>
                    <tr>
                        <td>Down</td>
                        <td>Down</td>
                        <td>Num-2</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>X</td>
                        <td>Num-7</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>Z/Y</td>
                        <td>Num-9</td>
                    </tr>
                    <tr>
                        <td>Start</td>
                        <td>Enter</td>
                        <td>Num-1</td>
                    </tr>
                    <tr>
                        <td>Select</td>
                        <td>Ctrl</td>
                        <td>Num-3</td>
                    </tr>
                </table>
                @Scripts.Render("~/Scripts/NES/dynamicaudio-min.js")
            @Scripts.Render("~/Scripts/NES/nes.js")
            @Scripts.Render("~/Scripts/NES/utils.js")
            @Scripts.Render("~/Scripts/NES/cpu.js")
            @Scripts.Render("~/Scripts/NES/keyboard.js")
            @Scripts.Render("~/Scripts/NES/mappers.js")
            @Scripts.Render("~/Scripts/NES/papu.js")
            @Scripts.Render("~/Scripts/NES/ppu.js")
            @Scripts.Render("~/Scripts/NES/rom.js")
            @Scripts.Render("~/Scripts/NES/ui.js")
                <script type="text/javascript" charset="utf-8">
                    var nes;
                    $(function () {
                        nes = new JSNES({
                            'ui': $('#emulator').JSNESUI({
                                "Jeux": [
                        ['Contra', 'roms/NES/Contra.nes'],
                        ['Donkey Kong', 'roms/NES/Donkey Kong (JU).nes'],
                        ['Dr. Mario', 'roms/NES/Dr. Mario (JU).nes'],
                        ['The Legend of Zelda', 'roms/NES/Legend of Zelda, The (U) (PRG1).nes'],
                        ['Mario Bros.', 'roms/NES/Mario Bros. (JU) [!].nes'],
                        ['Mega Man', 'roms/NES/Mega Man (U).nes'],
                        ['Tetris', 'roms/NES/Tetris.nes']
                    ],
                            })
                        });
                    });
    </script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- JSNES Modal -->
    </body>
</html>
